<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="{{ page.url }}" class="brand-logo center hide-on-large-only">
                <img src="/assets/img/liceu_logo.png" alt="Liceu Ebenezer" class="hide-on-med-and-down center">
            </a>

            <a href="{{ page.url }}" class="brand-logo hide-on-med-and-up left">{{ page.title }}</a>

            <ul class="left hide-on-med-and-down">
                <a 
                    href="#contactos-modal" 
                    class="btn-large waves-effect waves-light modal-trigger" 
                    title="Contactos">
                    <i class="fas fa-envelope"></i> Contactos
                </a>
            </ul>
            <ul class="right hide-on-med-and-down">
                {% include nav.html %}
            </ul>
        </div>

        <div class="nav-content">
            <a data-target="sideNav" class="sidenav-trigger btn-floating btn-large halfway-fab waves-effect waves-light">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </nav>
</div>
