<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/liceu" class="brand-logo center hide-on-small-only">
                <img src="/assets/img/liceu_logo.png" alt="Liceu Ebenezer" class="hide-on-med-and-down center">
            </a>

            <a href="/liceu" class="brand-logo hide-on-med-and-up left">
                {% if page.layout == "default" %}
                    {{ page.title }}

                    {% else %}
                        {{ site.title }}
                {% endif %}
            </a>

            <ul class="right hide-on-med-and-down">
                {% for item in site.data.social limit: 3 %}
                    <li>
                        <a 
                            href="{{ item.link }}" 
                            title="{{ item.name }}" 
                            class="tooltipped" 
                            data-position="bottom" 
                            data-delay="50"  
                            data-tooltip="{{ item.name }}">
                            <i class="fab fa-{{ item.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}

                {% for item in site.data.social offset: 3 %}
                    <li>
                        <a 
                            href="{{ item.link }}" 
                            title="{{ item.name }}" 
                            class="tooltipped" 
                            data-position="bottom" 
                            data-delay="50"  
                            data-tooltip="{{ item.name }}">
                            <i class="fas fa-{{ item.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="left hide-on-med-and-down">
                {% include nav.html %}
            </ul>
        </div>

        <div class="nav-content">
            <a data-target="sideNav" class="sidenav-trigger btn-floating btn-large halfway-fab waves-effect waves-light">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </nav>
</div>
