<section id="servicos" class="section scrollspy grey lighten-4">
    <div class="container">
        <h3 class="center-align">
            Nossos <strong class="bold primary-color-text">Serviços</strong>
        </h3>
        <div class="row">
            <ul class="tabs tabs-fixed-width">
                {% for item in site.servicos %}
                    <li class="tab">
                        <a href="#{{ forloop.index }}"
                            class="tooltipped"
                            data-position="top"
                            data-delay="50"
                            data-tooltip="{{ item.title }}">
                            {{ item.title }}
                        </a>
                    </li>    
                {% endfor %}
            </ul>

            {% include servicos-tabs.html %}
        </div>
    </div>
</section>