<section id="servicos" class="section scrollspy primary-color center">
    <div class="container">
        <h3>
            Nossos <strong class="white-text bold">Serviços</strong>
        </h3>

        <div class="owl-carousel owl-theme">
            {% for item in site.servicos %}
                <h4>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-{{ item.icon }} fa-stack-1x"></i>
                        <i class="far fa-circle fa-stack-2x"></i>
                    </span>
                    <br>
                    {{ item.title }}
                </h4>
            {% endfor %}
        </div>
    </div>
</section>