<section id="struture" class="section scrollspy center primary-color-light white-text">
    <section class="container">
        <h3>
            <i class="fas fa-organization"></i>
            Company Structure
        </h3>

        <section class="row">
            {% for item in site.struture %}
                <div class="col s12 l4">
                    <img src="{{ item.image }}" alt="{{ item.title }}" style="border-radius: 100%; width: 200px;">
                    <h4>{{ item.name }} {{ item.last }}</h4>
                    <p class="bold"><strong>{{ item.title }}</strong></p>
                    <a href="#{{ item.name | downcase }}" 
                        class="btn-flat waves-effect toolttiped modal-trigger white-text"
                        data-position="bottom" 
                        data-tooltip="Know More"
                        style="border: solid 1px #fff;">
                        Know More
                    </a>
                </div>
            {% endfor %}
        </section>
    </section>
</section>