{% for item in site.struture %}
    <div id="{{ item.name | downcase }}" class="modal">
        <div class="modal-content">
            <div class="container">
                <div class="center">
                    <img src="{{ item.title }}" alt="{{ site.title }}" style="border-radius: 100%; width: 200px;">
                    <h4>{{ item.name }} {{ item.last }}</h4>
                </div>

                <p class="flow-text justify">{{ item.content }}</p>
            </div>
        </div>
    </div>
{% endfor %}